@import "../../assets/scss/variables";

.box {
  width: 100%;
  height: calc(100vh - 80px);
  position: relative;
  overflow: hidden;

  &_content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;

    h1 {
      color: #fff;
      margin-bottom: 40px;

      @media (max-width: 500px) {
        font-size: 40px;
      }
    }

    p {
      margin-bottom: 30px;
      color: #fff;
    }
  }
  &__img {
    transition-duration: 300ms;
    width: 100%;
    height: 100%;
  }
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;

  &__blur {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #2f3b59;
    opacity: 0.75;
    z-index: 4;
  }
}

.line {
  position: absolute;
  top: 50%;
  left: 0;
}

.actions {
  margin-top: 40px;
  display: flex;
  justify-content: space-around;

  @media (max-width: 1060px) {
    flex-direction: column;
  }

  &__row {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin-bottom: 80px;
  }

  &__line {
    position: absolute;
    height: 10px;
    width: 100%;
    background: #e5ecf4;
    z-index: -1;
    top: 95px;
    left: calc(-50% + 250px);

    @media (max-width: 1060px) {
      height: 100%;
      width: 10px;
      top: calc(-50% + 190px);
      left: 65px;
    }

    @media (max-width: 500px) {
      display: none;
    }

    &::after {
      content: "";
      height: 10;
    }
  }
}
