@import "../../assets/scss/variables";

.wrapper {
  background: $snow;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;

  @media (max-width: 500px) {
    flex-direction: column;
    text-align: center;

    h4 {
      margin-bottom: 10px;
    }

    button {
      margin-top: 20px;
    }
  }
}
