@import "../../assets/scss/variables";

.header {
  display: flex;
  align-items: center;
  height: 80px;
  margin: 0 20px;
  z-index: 11;

  &__mobile {
    display: flex;
    transition-duration: 500ms;

    @media (max-width: 768px) {
      width: 100%;
    }
  }
}

.navigation {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition-duration: 300ms;

  @media (max-width: 768px) {
    padding: 20px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    bottom: 0;
    left: 0;
    width: 80%;
    height: calc(100vh - 80px);
    background: #333a44;
    z-index: 10;
  }
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: auto;

  @media (max-width: 768px) {
    width: 100%;
  }

  img {
    cursor: pointer;
    transition-duration: 300ms;

    &:hover {
      transform: scale(1.05);
    }
  }
}

.button {
  @media (max-width: 768px) {
    width: 100%;
  }
}

.links {
  margin-left: 50px;

  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
    margin-left: 0;

    a {
      color: #fff;
    }
  }
}

.link {
  margin: 0 20px;
  transition-duration: 300ms;

  @media (max-width: 768px) {
    margin: 10px 0;
  }

  &:hover {
    color: $yellow;
  }
}

.burger {
  display: none;
  cursor: pointer;
  width: 25px;

  @media (max-width: 768px) {
    display: block;
  }
}

.open {
  @media (max-width: 768px) {
    transform: translateX(0);
  }
}

.close {
  @media (max-width: 768px) {
    transform: translateX(-100%);
  }
}
